<h2 mat-dialog-title>Important Information</h2>
<hr>
<mat-dialog-content>
    <p>DRPCM is not developed, maintained, or endorsed by Discord.</p>
    <div class="info" style="margin-top: 20px; display: flex; justify-content: space-between;">
        <p>Created by: Adrenix#0101</p>
        <p style="cursor: pointer; text-decoration: none; color: #7289DA;" (click)="onSupport()">Support Server</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
