<h2 mat-dialog-title>Text Component Help</h2>
<hr>
<mat-dialog-content>
    <p>This component allows you to control the text that appears in your custom RPC. Timer functionality will be expanded <br>
    in a later feature update. For now, the timer can only count-up. <br>

    <br> In the submenu, clearing the text fields resets the component fields back to their default values. You will be <br>
    given an opportunity to undo the action if needed.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
