<h2 mat-dialog-title>User Component Help</h2>
<hr>
<mat-dialog-content>
    <p>This component displays the current connection to your discord client. In order to successfully apply a <br>
    RPC to your discord client, discord must be connected to DRPCM. If a connection cannot be established, <br>
    you will be notified to try again. An application client identifier is required to preload assets. Use the help <br>
    menu located in the top left for more information about RPC applications. <br>

    <br> In the submenu, clearing the identifier removes the ID currently present in the RPC client ID field. You will <br>
    be given an opportunity to undo the action if needed. <br>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
