<h2 mat-dialog-title>Image Component Help</h2>
<hr>
<mat-dialog-content>
    <p>This component allows you to control what images appear in your custom RPC. In order to obtain a list of assets, <br>
    you need to give a RPC client identifier in the field above this component. Once an identifier is provided, use the <br>
    <span class="app-color-blurple">Refresh Lists</span> button to receive an updated list of assets available from the RPC application given. <br>

    <br> In the submenu, clearing the fields removes selected images and hover texts. You will be given an opportunity <br>
    to undo the action if needed.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
