<h2 mat-dialog-title>RPC Component Help</h2>
<hr>
<mat-dialog-content>
    <p>This component allows you to preview what your RPC will look like before applying it. When you are <br>
    satisfied with the result, click the <span class="app-color-blurple">Start</span> button to apply the RPC to your
    discord client. Use the <span class="app-color-warn">Stop</span> <br> button to remove the RPC from your discord
    client. <br>

    <br> In the submenu, saving the RPC will allow DRPCM to remember your RPC after the program has been <br>
    closed. Resetting the RPC will clear <strong>all</strong> fields in each component. You will be given an opportunity <br>
    to undo the action if needed.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
